

/* Mobile first */


.wrapper-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}


h1 {
    color: var(--yellow);
    font-size: 26px;
    padding: 3rem;
    margin: 3rem;
    font-weight: 500;
}


.links-menu {
    display: flex;
    flex-direction: column;
}

.discover {
    display: flex;
    margin: 2rem;
    justify-content: space-around;
}

.links-menu a {
    background: #09090B;
    margin: .7rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.discover a img {
    margin: .5rem;

}

.discover a .subtitle {
    font-size: 18px;
    color: #FFF;
    font-weight: 400;
}


.covers {
    max-width: 60vh;
    padding: 2rem;
}

.covers img { 
    width: 100%
}


@media screen and (min-width 1000px;) {

}