
/* HTML/BODY re-sets and styling base */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600;700&display=swap');

:root {
--pink: #F83CFC;
--yellow: #FBD32E;
--white: #fff;
--background: #2F303A;

}

html, body {
font-family: 'Montserrat', sans-serif;
font-size: 10px;
margin: 0;
padding: 0;
text-decoration: none;
overflow-x: hidden;
background: var(--background);
box-sizing: border-box;
}

p {
color: var(--white);
font-size: .9em;
}

h1, h2, h3, h4 {
font-size: 1.2em;
margin: 0;
padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}




/* mobile first */

.wrapper-1 {

max-height: 100vh;
display: grid;
grid-template-columns: repeat(1, 1fr);
grid-template-areas: 
"logo"
"hero"
"buttons";
overflow: hidden;
margin: 0 auto;
}



.header-page--logo a {
display: flex;
align-items: center;
text-decoration: none;
color: var(--yellow);
padding-left: 5px;
padding-top: 5px;
height: 10vh;

}

.icon .brand {
width: 45px
}


.brand-name {
letter-spacing: 4px;
font-size: 22px;
padding-left: 10px;
font-weight: 500;
}


.header-page--logo {
grid-area: logo;
display: flex;
justify-content: space-between;

}



.cover-girl {
display: none;
}

.header-page--logo nav {
display: none;
}






/* HERO midSection */

.flex-container {
    display: flex;
    justify-content: center;
    
}

.midsection-page1 {
grid-area: hero;
text-align: center;
}

.midsection-page1 .hero {
display: flex;
flex-direction: column;
color: rgba(251, 211, 46, 1);
font-size: 28px;
line-height: 54px;
letter-spacing: 2px;
text-align: center;
align-items: center;
margin-top: 30px;


}

.midsection-page1 p {
    font-size: 15px;
    margin: 50px 0;

}

.flex-container .midsection-page1 .hero {
    display: flex;
    font-size: 35px;

}



.buttons {
    grid-area: buttons;    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 60px;

}

.buttons a {
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    padding: .9rem;
    border-radius: 1.4rem;  
    z-index: 1;

}


.button--join {
    background: var(--yellow);
    width: 240px;
    height: 29px;
    border: 1px solid rgba(84, 57, 57, 1);
    color: rgba(84, 57, 57, 1);
    box-shadow: 0px 6px 0px 0px rgba(0, 0, 0, 0.18);
    font-weight: bolder;

}

.button--discover {
    background: var(--white);
    width: 240px;
    height: 29px;
    border: 1px solid var(--pink);
    box-shadow: 0px 6px 0px 0px rgba(0, 0, 0, 0.18);
    margin-top: 2rem;
    font-weight: bolder;
    color: rgba(84, 57, 57, 1);


}







/* aesthetic circles mobile view */


.circle-1-visable {
position: absolute;
height: 43vh;
width: 43vh;
background: rgba(251, 211, 46, .1);
border-radius: 50%;
z-index: 0;
top: 70px;
left: -145px;
overflow: hidden;

}


.circle-2-visible {
position: absolute;
right: 0;
bottom: 0;
background: rgba(239, 13, 243, 0.1);
width: 225px;
height: 350px;
border-top-left-radius: 200px;
border-bottom-left-radius: 200px;


}

.circle-3-desktop {
display: none;

}






/* DESKTOP & TABLET */

@media screen and (min-width: 1000px) { 



/* header/nav--mainpage */


.header-page--logo nav {
    display: flex;
    align-items: center;
    
}

.header-page--logo a {
    padding-top: 0px;
    margin-top: 0px;
}

nav ul {
    display: flex; 
    
        
}

nav ul li {
    justify-content: center;
    padding: 1rem;
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    font-size: 1em;
    font-size: 2em;
    
}

nav a:hover {
    color: rgb(75, 75, 1);
}





/* buttons */
.buttons a {
    font-size: 15px;
}

.button--join {
    background: var(--yellow);
    width: 190px;
    height: 15px;
    border: 1px solid rgba(84, 57, 57, 1);
    color: rgba(84, 57, 57, 1);
    box-shadow: 0px 6px 0px 0px rgba(0, 0, 0, 0.18);
    
}

.button--discover {
    display: none;
}








/* hero */

.flex-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    
    
}


.cover-girl {
    display: flex;

}

.cover-girl img {
    
    max-width: 65vh;
    z-index: 1; 
}








/* aesthetic circles */

.circle-1-visable {
    position: absolute;
    height: 50vh;
    width: 50vh;
    background: rgba(239, 13, 243, 0.07);
    border-radius: 50%;
    z-index: 0;
    overflow: hidden;
    transform: translate(170px, 250px);
}

.circle-3-desktop {
    display: flex;
    height: 30vh;
    width: 30vh;
    background: rgba(251, 211, 46, .1);
    border-radius: 50%;
    position: fixed;
    top: 50px;
    right: 40%;
}


}

