
/* aesthetic circle */


.circle-4 {
    position: absolute;
    height: 40vh;
    width: 40vh;
    background: rgba(251, 211, 46, .1);
    border-radius: 50%;
    z-index: 0;
    top: 70px;
    left: -122px;
    overflow: hidden;
    
}

.circle-5 {
    position: absolute;
    height: 14vh;
    width: 14vh;
    background: rgba(239, 13, 243, 0.2);
    border-radius: 50%;
    z-index: 0;
    top: 60px;
    right: 18px;
    
    
}


/* Join the fun. */


.title-join {
    font-weight: 600;
    padding-left: 3rem;
    font-size: 55px;
    color: var(--yellow);
    letter-spacing: 0.06rem;
    margin-top: 5rem;
}

#style-fun {
    font-size: 75px;
    letter-spacing: 0.1rem;
    color: var(--pink);
    z-index: 2;
}




/* form section */

.form-section form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    
    

}
  
form input {
    background: rgb(4, 4, 5);
    width: 280px;
    height: 35px;
    margin: 1rem;
    border-radius: 10px;
    justify-content: center;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.18);

}

form label {
    z-index: 2;
}

.join-button {
    background: var(--yellow);
    width: 280px;
    height: 40px;
    color: rgb(84, 57, 57);
    box-shadow: 0px 6px 0px 0px rgba(0, 0, 0, 0.18);
    font-weight: bolder;
    border-radius: 1rem;
    margin: 1rem;
    z-index: 2;
    
}

.join-button {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    border-radius: 2.2rem;
}

.join-button:hover {
    opacity: 0.8;
}


.footer-nav {
    background: rgba(9, 9, 11, 1); 
    height: 16vh;  
}

.socials img {
    width: 2em;
    margin-right: .8rem;
    vertical-align: middle;
}

.socials li a {
    font-size: 20px;
}

.footer-nav ul li a {
    color: #fff;
}
















/* GRID layout desktop */

@media screen and (min-width: 1000px) {

.wrapper-3 {
    
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 10vh 58vh; 


}


.title-join {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 5;
}


.form-section {
    grid-column-start: 7;
    grid-column-end: 13;
    grid-row-start: 2;
    grid-row-end: 5;
}


footer {
    grid-column-start: 1;
    grid-column-end: 13; 
    grid-row-start: 5;
    grid-row-end: 6;
    
    
}

.footer-nav {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    height: 16vh;

}





.contact-links {
    grid-area: contact-links;
    grid-column-start: 1;
    grid-column-end: 7; 
    grid-row-start: 5;
    grid-row-end: 6;
}

.socials {
    grid-area: socials;
    grid-column-start: 8;
    grid-column-end: 13; 
    grid-row-start: 5;
    grid-row-end: 6;
}




/* styling desktop */

.title-join {
    font-weight: 600;
    padding-left: 3rem;
    font-size: 69px;
    color: var(--yellow);
    letter-spacing: 0.07rem;
    margin-top: 5rem;
}

#style-fun {
    font-size: 85px;
    letter-spacing: 0.12rem;
    color: var(--pink);
    z-index: 2;
}


/* form section */

.form-section form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    margin-left: 89px;
    
    

}
  
form input {
    background: rgb(4, 4, 5);
    width: 30vw;
    height: 42px;
    margin: 1rem;
    border-radius: 10px;
    justify-content: center;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.18);

}

}